extends layout

block content
    h1 Films
    h2 List of Films
    table#actors.table.table-hover.table-striped.table-bordered
        thead.thead-default
            tr
                th
                th Title
                th Description
                th Release Year
                th Rating
                th 
        tbody
            each film, index in films
                - var query = "film_id=" + film.film_id
                tr
                    td #{index + 1}
                    td #{film.title}
                    td #{film.description}
                    td #{film.release_year}
                    td #{film.rating}
                    td
                        a(href="films?" + query) Details..
